@import "../../styles/variables";
@import "../../styles/font";
@import "../../styles/mixins";

.wrapper{
    display: grid;
    gap: $space-6;
    grid-template-columns: 1fr 1fr 1fr;

    @include bp-large {
        grid-template-columns: 1fr 1fr;
    }

    @include bp-mobile {
        grid-template-columns: 1fr;
    }

    > div {
        border-radius: 8px;
        box-shadow: 0 5px 11px rgb(0 0 0 / 7%);
        padding: $space-5;
        border: 1px solid $color-grey-light;
    }
}

.list{
    display: grid;
    gap: $space-6;
    grid-template-columns: 1fr 1fr;
}

.head{
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(baseline);
}